name: Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --name=MidiDo --windowed --onefile --icon=images/icon.png main.py

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/MidiDo.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
